.firmware-filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
}

.firmware-filter-form {
  display: flex;
}

.label {
  font-size: 10pt;
}

.option {
  display: flex;
  padding: 100px;
}

.firmware-filter-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
}
